* {
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main{
    margin: 0 50px;
}

main {
    margin-bottom: 40px;
}

#combos {
    text-align: center;
    margin-bottom: 80px;    
}

.combos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    gap: 50px;
    text-align: center;
    row-gap: 70px;
}

.combos-variant {
    display: flex;
    gap: 30px;
    justify-content: center;

}

.combos-dish {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 60px;
    align-items: center;
}

.combos-dish img {
    width: 100%;  
}

.combos-dish img:hover {
    transform: scale(1.3) translateY(-10px) !important;
}

.combos-dish p {
    font-size: 14px;
}

#desert-combo-text {
    font-size: 10px;
    width: 400%;
    text-align: center;
    margin: 0;
    font-style: italic;
}

.nav_line {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.active-link {
    color: darkorange !important;
}

a, a:visited {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a:hover {
    color: darkorange;
    transition:0.2s;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.filters button {
    border: solid transparent;
    border-radius: 10px;
    background-color: white;
    color: forestgreen;
}

.filters button:hover, .active {
    background-color: lightgreen !important;
}

.dishes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: stretch;
}

.dish-card {
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    padding: 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background-color: white;
}

.dish-card:hover {
    border: 2px, solid, darkorange;
    box-sizing: content-box;
    transition: 0.2s;
}

.dish-card:hover button {
    background-color: lightgray;
}

.dish-card img {
    width: 100%;
    border-radius: 35px;
}

.dish-card * {
    margin: 5px 0;
}

.dish-card button {
    margin-top: 15px;
    background-color: #f1eee9;
    padding: 10px 30px;
    border: black;
    border-radius: 10px;
    cursor: pointer;
}

.name {
    flex-grow: 1;
}

.prop {
    font-size:15px;
    color: gray;
}

ul, nav {
    font-size: larger;
    font-weight: 400;
}

form {
    margin-top: 75px;
}

form h2 {
    text-align: center;
}

#order-price {
    font-size: 25px;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    justify-content: space-around;
}

.form-section {
    display: flex;
    flex-direction: column;
    padding: 10px 150px;
}

.form-section h3 {
    margin-bottom: 25px;
}

.form-section label {
    margin-top: 20px;
    margin-bottom: 0;
}

.form-section input {
    margin-top: 5px;
    width: 80%;
}

.form-section select {
    margin-top: 10px;
    height: 35px;
    width: 80%;
}

fieldset {
    border: 0;
}

.form-section div input {
    height: auto;
    width: auto;
}

.form-section input{
    height: 35px;
}

.form-section textarea {
    margin-top: 5px;
    height: 30%;
    width: 80%;
}

#news-checkbox {
    margin-top: 15px;
}

.details {
    font-style: italic;
    font-size: 14px;
    margin-top: 0;
}

.form-buttons {
    display: flex;
    gap: 5px;
}

.form-buttons button {
    height: 30px;
    width: 135px;
    background-color: white;  
}

.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black 2px solid;
    background-color: white;
    padding: 50px 200px;
    text-align: center; 
}
.notification button {
    width: 125px;
    border: black 2px solid;
    border-radius: 12px;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
}
.notification button:hover {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    color: white;
    margin: 0;
    padding: 30px 50px;
    margin-top: auto;
}

#phone {
    font-family: "Lato", sans-serif;
    font-size: large;
}

@media all and (max-width: 800px) {
    .dishes {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav_line {
        justify-content: space-between;
    }
}

@media all and (max-width: 600px) {
    h1 {
        text-align: center;
    }

    .nav_line {
        flex-direction: column;
        align-content: center;
        font-size: calc(100% + 4px);
    }

    section > h2 {
        text-align: center;
    }

    .dishes {
        grid-template-columns: 1fr;
    }
}
